<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net472" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net472" />
  <package id="FluentAssertions" version="5.5.3" targetFramework="net472" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="Unitest" version="0.0.3" targetFramework="net472" />
</packages>